#Puerto
PORT=8003

#Base de datos
MONGODB_URI=mongodb+srv://streaming_service:x0Ow3fKdrPsgknkd@streamingservice.9jw1dop.mongodb.net/streaming_service

#Jason Web Token
JWT_SECRET=R0wZcN5dB8NnejaailyyE1HjU16YE9PSVCLAC6849MH2300PUE2EA6DMTVWALAD649mfstjdp530231fjhdbvnNDJJDBOSDFF

#RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

#Amazon S3
AWS_ACCESS_KEY_ID=AKIA3CMCCRELW2BTF6KF
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_BUCKET=trailix-media